.containerBox {
    position: relative;
    display: inline-block;
}
.text-box {
    position: absolute;
    height: 100%;
    text-align: center;
    width: 100%;
}
.text-box:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: bottom;
}
h4 {
   display: inline-block;
   margin-right: 60%;
   font-size: 35px;
   color: #FFF;
   border: 5px solid white;
   padding: 20px;
   padding-top: 30px;
   font-family: 'Homemade Apple', cursive;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
